main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 69px 0 40px 0;
}
.Company {
	font-size: 80px;
	text-align: center;
	margin-left: 80px;
	line-height: 60px;
}
.lasth1 {
	margin-bottom: -11px;
}

#header-image {
	width: 379px;
	height: 379px;
	background-image: url("/great-idea/img/header-img.png");
}
