main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 70px 0 78px;
}
#header-image {
	width: 379px;
	height: 379px;
	background-image: url("/great-idea/img/header-img.png");
}
main .Company {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 77px;
	text-align: center;
	line-height: 60px;
	margin: 20px 0 0 84px;
}
main button {
	padding: 6px 42px;
	margin-top: 18px;
	font-size: 17px;
}
main .lasth1 {
	margin-bottom: 10px;
}
