@import "reset.css";
@import "mainStyle.css";
@import "companyHeader.css";

.TopRow {
	margin: 37px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
h4 {
	font-size: 17px;
}
p {
	line-height: 18px;
}
.Features {
	width: 425px;
}
.BottomRow {
	display: flex;
	margin: 37px 0 44px;
	justify-content: space-between;
}

.index-bottom-row {
	width: 276px;
}
