@import "reset.css";
@import "mainStyle.css";
@import "companyHeader.css";

button {
	padding: 5px 50px;
}

.TopRow {
	display: flex;
	margin: 30px 0;
}

.BottomRow {
	display: flex;
	margin: 30px 0 50px 0;
}

.Services {
	padding: 0 10px 0 0;
}
