* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.container {
	width: 876px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 27px;
}
header nav {
	display: flex;
	justify-content: space-between;
	width: 600px;
	font-size: 14px;
}

header nav a {
	text-decoration: none;
	color: #bcbcbc;
}

header nav a:hover {
	text-decoration: underline;
}

#logo-header-nav {
	width: 183px;
	height: 36px;
	background-image: url("/great-idea/img/logo.png");
}

.Contact {
	margin: 38px 0;
	line-height: 17px;
}

footer {
	text-align: center;
	font-size: 14px;
}
button {
	background-color: white;
	border: 1px solid black;
}

button:hover {
	background-color: black;
	color: white;
}

.shadow {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
